* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(to bottom right, rgb(203, 205, 232), rgb(214, 212, 242));
  background-attachment: fixed;
}

.container {
  background-attachment: fixed;
  display: flexbox;
  background-color: rgb(10, 43, 10);
  margin: 20vh 35vw;
  border-radius: 20px;
  min-height: 10%;
  padding: 1rem;
}
.title {
  display: flex;
  justify-content:center;
  font: bold;
  color: whitesmoke;
  padding-top: 8px;
}

.choice-container {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem 0;
}

button {
  border-radius: 10px;
  padding: .25rem .5rem;
  background-color: burlywood;
  color: rgb(54, 24, 24);
}

p {
  text-align: center;
  margin: 1rem;
}

#results {
  border-radius: 10px;
  background-color: cornsilk;
  margin: 20px;
  padding:20px;
}